@import 'variables';

.messageList {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $chatbot-surface-light;
  transition: background-color 0.3s;

  :global(.dark) & {
    background-color: $chatbot-surface-dark;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);

    :global(.dark) & {
      background: rgba(255, 255, 255, 0.05);
    }
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    :global(.dark) & {
      background: rgba(255, 255, 255, 0.2);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.3);

      :global(.dark) & {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
}